.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	
	padding: 7px 15px;

	border-radius: 15px;
	background: var(--accent);

	color: var(--background);
	text-align: center;

	transition: background .3s;

	cursor: pointer;
}
